%div.row
  %h2.name.splash
    Edit #{resource_name.to_s.humanize}
  %div.main
    %h3 Edit your Profile
    %div.row
      = form_for current_user do |f|
        .large-4.columns
          = image_tag(current_user.avatar.profile_page.url, class: 'avatar-pro-page')
        .large-8.columns
          .field
            = f.label :name
            = f.text_field :name, autofocus: true, placeholder: 'Enter your name...'
          .field
            = f.label :bio
            = f.text_area :bio, cols: 6, placeholder: 'Tell us about yourself...'
          .field
            = f.label :avatar
            = f.file_field :avatar
            = f.hidden_field :avatar_cache
          .actions
            = f.submit 'Update', class: 'button small radius secondary'
    %h3 Edit your Credentials
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, placeholder: 'Enter your email address...'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", placeholder: 'Enter a new password...'
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm your new password...'
      .field
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off", placeholder: 'Enter your current password...'
      .actions
        = f.submit "Update", class: 'button small radius secondary'
    %h3 Cancel my account
    = link_to "Cancel Account", registration_path(resource_name), method: :delete, class: 'button small radius alert'
