%div.row
  %div.large-12.columns
    %h2.name.splash
      About
      = user.name
    %div.row
      %div.large-6.columns.splash
        = image_tag(user.avatar.profile_page.url, class: 'avatar-pro-page')
      %div.large-6.columns
        %p
          = current_user.bio ? markdown_to_html(current_user.bio) : current_user.bio
        %p
          created
          = pluralize(user.wikis.count, 'wiki')
        %p
          contributing to
          = pluralize(user.collaboration_wikis.count, 'wiki')
    %div.row.splash
      - if user == current_user
        = link_to 'Edit Profile', edit_user_registration_path, class: 'button radius secondary'
        - if current_user.premium?
          = link_to 'Downgrade to Standard', downgrade_user_path, method: :patch, data: { confirm: 'Are you sure you want to downgrade to a standard user?'}, class: 'button radius secondary'
        - else
          = link_to 'Upgrade to Premium', new_charge_path, class: 'button radius secondary'
