%div.row
  %div.large-12.columns
    %h2.name.splash
      = wiki.title
    %div.large-8.columns
      %div.row
        = image_tag(wiki.user.avatar.tiny.url)
        %small
          created by
          = link_to wiki.user.name, wiki.user
        %div.right
          = link_to 'Edit Wiki', edit_wiki_path, class: 'button tiny radius secondary'
          = link_to 'Delete', wiki, method: :delete, class: 'button tiny radius alert'
      %p
        = wiki.body
    %div.large-4.columns
      = render 'users/profile'
