%div.row
  %h2.name.splash Log In
  %div.large-12.colums.main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, placeholder: 'Enter your email address'
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", placeholder: 'Enter your password'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: 'button small radius secondary'
    = render "devise/shared/links"
